{% extends 'main/base.html' %}
{% block content %}
    <center>
        <h1>You searched for...</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="col-sm-6">
                    <div class="card">
                        <img alt="bruh" class="card-img-top" src="{{post.titleimg.url}}" />
                        <div class="card-body">
                        <a href="{% url 'post' post.id %}" class="card-title">{{post.title}}</a>
                        <p class="card-text">{{post.description}}</p>
                        </div>
                    </div>  
                </div>
            {% endfor %}
            {% else %}
            <div>Nothing Found!</div>
        {% endif %}            
    </center>
{% endblock %}
